@font-face {
    font-family: "3270 Nerd Font Mono";
    src: url(/font/3270NerdFontMono-Regular.ttf);
}

@media screen and (max-width: 1000px) {
    .goals{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
    .cve{
        margin-left: 20px;
    }

    .cvedesc{
        display: none;
    }

    .inprogress{
        font-size: 0.75em;
    }
  }

@media screen and (min-width: 1000px) {
    .cve, .goals{
        margin-left: auto;
        margin-right: auto;
    }

    .cve{
        margin-left: 100px;
        margin-right: 100px;
    }

    .cvedesc{
        text-align: justify;
    }
}


body{
    color: white;
    font-size: 20px;
    background-color: rgb(26, 26, 26);
}

.header, .terminal{
    text-align: center;
    font-family: "3270 Nerd Font Mono";
    font-size: 25px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

hr{
    border: 2px solid rgb(160, 160, 160);
    border-radius: 5px;
}

.hidden {
    opacity:0;
}

.menu{
    margin: auto;
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    text-justify: center;
}

p{
    font-family: "3270 Nerd Font Mono";
}

a{
    text-decoration: none;
    color: white;
}

.menutext, .inprogress{
    display: block;
    font-family: "3270 Nerd Font Mono";
    height: fit-content;
    width: fit-content;
    transition: 0.5s;
}

.menutext{
    font-size: 25px;
}

.menutext:hover, a:hover{
    color: red;
    text-shadow: 0px 0px 10px rgb(255, 70, 70);
}

ul {
    list-style-type: none;
}

.inprogress, .inprogress:hover{
    color: white;
    text-shadow: none;
    opacity: 0.5;
    font-size: 18px;
}

.icon{
    font-weight: 100;
    font-size: 28px;
}

.cve, .goals{
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
}